<template>
   <div class="post-container">
      <div class="title-container">
         <div class="title">
            <h2>{{ title }}</h2>
            <h4>{{ formatDate(posted, updated) }}</h4>
         </div>
         <div class="button-container">
            <button v-if="isAdmin" class="edit" v-on:click="$router.push('/edit/' + title.replaceAll(' ', '-').toLowerCase())">Edit</button>
         </div>
      </div>
      <div class="collection" v-if="media.length > 0"> <img
            v-for="uri in media"
            v-if="media"
            :src="config.serverUrl + $route.params.album + '/' + uri"
            class="item"
            alt="image"/>
      </div>
   </div>
</template>

<script>
   import config from './front.js'
   import cookie from 'cookie'
   export default {
      data() {
         return {
            config:  config,
            title:   undefined,
            isAdmin: cookie.parse(document.cookie).isAdmin,
            media:   [],
            posted:  undefined,
            updated: undefined
         }
      },
      methods: {
         formatDate: function(...theArgs) {
               let args = theArgs
                  .filter(item => item)
                  .map(item => new Date(item).toString().substr(4,11))
               return args.length == 2 && args[0] != args[1] ?
                        args.shift() + ' - ' + args.pop() :
                        args.shift()
         }
      },
      created() {
         fetch(config.serverUrl + 'albums/' + this.$route.params.album)
            .then(res => res.json())
            .then(json => {
               this.title =   json.title
               this.media =   json.media
               this.posted =  json.posted
               this.updated = json.updated
            })
            .catch(console.dir)
      }
   }
</script>

<style scoped>
   .collection {
      width: 100%;
      margin: 0 0 1em 0;
   }

   .content {
      margin: 0 0 2em 0;
   }

   .item {
      width: 100vw;
      margin-top: .06em;
      margin-bottom: .06em;
      border-radius: 5px;
   }

   .title {
      flex-basis: 100%;
      text-align: center;
   }

   @media screen and (max-width: 749px) {
      .item {
         position: relative;
         left: 50%;
         margin-left: -50vw;
      }
   }
   
   @media screen and (min-width: 750px) {
      .item {
         width: 100%;
      }
   }
   
</style>
