<template>
   <div class="body">
      <div class="container">
         <div class="blog-header">
            <h1><a href="/" class="blog-title">Moments</h1>
         </div>
         <keep-alive include="Post">
            <router-view></router-view>
         <keep-alive>
      </div>
   </div>
</template>

<style>
   :root {
      --primary-color: linear-gradient(40deg, hsl(0, 43.9%, 67.8%) 0%, hsl(200, 43.9%, 67.8%));
      --secondary-color: #DCDBDB80;
   }
   
   * {
      margin: 0 auto;
      font-family: 'Courier';
   }

   html {
      min-height: 100%;
   }

   h1 {
      font-size: 40px;
      font-weight: 425;
   }

   h2 {
      font-size: 30px;
      font-weight: 400;
      font-variation-settings: 'ital' .45;
   }

   h3 {
      font-size: 20px;
   }

   h4 {
      font-size: 16px;
      font-weight: normal;
   }

   a {
      text-decoration: none;
      color: black;
      font-weight: 475;
   }

   button {
      border: none;
      border-radius: .5em;
      background-color: var(--secondary-color);
      font-size: 1.2em;
      width: 3.5em;
   }

   p {
      font-size: 18px;
      font-weight: 345;
      margin: 0 0 1em 0;
   }
   
   body {
      min-height: 100%;
      background: var(--primary-color);
   }

   .blog-header {
      text-align: center;
      line-height: 75px;
      background-color: var(--secondary-color);
      border-radius: 5px;
      height: 75px;
      margin: auto auto 2em auto;
   }

   .blog-title {
      font-weight: normal;
   }

   .blog-title:hover {
      text-decoration: none;
   }
   
   .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .container {
      max-width: 300px;
   }
   
   .title-container {
      display: flex;
      margin: 0 0 1em 0;
      align-items: center;
      justify-content: space-between;
   }
   
   ::placeholder {
      color: #000000;
      opacity: 1;
   }
  
   @media screen and (max-width: 500px) {
      .container {
         max-width: 300px;
      }
   }
   
   @media screen and (min-width: 500px) {
      .container {
         max-width: 70%;
      }

      .blog-header {
         margin: 0 0 2em 0;
      }

      .post-content {
         height: 25vw;
      }
   }
   
   @media screen and (min-width: 2000px) {
      .container {
         max-width: 1500px;
      }
   }
</style>
