<template>
   <div class="component-root">
      <div class="nav-container">
         <a v-if="albums[page - 1]" v-on:click="page--">
            <h2 class="prev"><</h2>
         </a>
         <div class="posts">
            <h2 class="listing-title">Albums</h2>
            <section class="post" v-for="album in albums[page]">
               <a :href="'./albums/' + album.replaceAll(' ', '-').toLowerCase()">
                  {{ album }}
               </a>
            </section>
         </div>
         <a v-if="albums[page + 1]" v-on:click="page++">
            <h2 class="next">></h2>
         </a>
      </div>
      <div class="samples">
         <div class="sample" v-for="sample in samples"> 
            <a v-if="sample" :href="'./albums/' + sample.split('/').shift()">
               <img :src="config.serverUrl + sample" />
            </a>
         </div>
      </div>
   </div>
</template>

<script>
   import config from './front.js'
   import { chunk, popNElements, shuffle } from './front/util.js'
   export default {
      data() {
         return {
            albums:  [],
            config:  config,
            samples: [],
            page:    0
         }
      },
      beforeCreate() {
         fetch(config.serverUrl + 'posts')
         .then(res => res.json())
         .then(json => this.albums = chunk(json, 4))
         
         fetch(config.serverUrl + 'all-media')
         .then(res => res.json())
         .then(json => this.samples = popNElements(shuffle(json), 4))
      },
   }
</script>

<style scoped>
   img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
   }
   
   .listing-title {
      margin: 0 0 .25em 0;
   }

   .nav-container {
      display: flex;
      margin: 0 0 1em 0;
      align-items: center;
      justify-content: space-between;
   }
   
   .next {
      position: absolute;
      right: 15%;
      cursor: pointer;
   }

   .prev {
      position: absolute;
      left: 15%;
      cursor: pointer;
   }
   
   .post:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
      transition: .25s;
      border-radius: 5px;
   }

   .post {
      transition: .25s;
      display: block;
      font-size: 18px;
      width: 100%;
      margin: 0 0 .4em 0;
   }
   
   .posts {
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
   }
   
   .samples {
      display: grid;
      grid-template-columns: auto auto;
      gap: .25em;
   }

   .sample {
      height: calc(16vw/9 * 11);
   }

   @media screen and (max-width: 500px) {
      .next {
         right: 10%
      }

      .prev {
         left: 10%
      }
   }
   
   @media screen and (max-width: 650px) {
      .samples {
         display: block;
      }

      .sample {
         position: relative;
         left: 50%;
         margin-left: -50vw;
         height: 100vw;
         width: 100vw;
      }
   }
</style>
