<template>
   <div>
      <div class="title-container">
         <h2 class="title">Login</h2>
      </div>
      <form>
         <input type="text"
            class="user"
            v-model="user" 
            placeholder="User">
         <input type="password"
            class="pass"
            v-model="pass" 
            placeholder="Pass"
            v-on:keydown.enter="login">
      </form>
      <button v-on:click="login" type="submit">
         Login
      </button>
   </div>
</template>

<script>
import config from './front.js'
export default {
  data() {
    return {
      user: '',
      pass: ''
    }
  },
  methods: {
    login() {
      fetch(config.serverUrl + 'login', {
         method:        'POST',
         headers:       {'Content-Type': 'application/json'},
         credentials:   'include',
         body: JSON.stringify({
            user: this.user,
            pass: this.pass
         }),
      }).then(res => {
         if (res.status == 200) this.$router.push('/edit')
         //find noninvasive alternative
         else alert('Invalid credentials')
      })

      this.user = ''
      this.pass = ''
    }
  }
}
</script>

<style>
   .user, .pass {
      box-sizing: border-box;
      border: none;
      border-radius: .5em;
      font-size: 1.2em;
      background-color: var(--secondary-color);
      margin: 0 0 .7em 0;
      padding: .375em;
      width: 100%;
   }
</style>
